/* HANDHELD-SPECIFIC */

@media only screen and (min-width: 220px) and ( max-width:1023px ) {
    .tv-header {
        background-image: url(../img/tv-header.png);
        background-size: 700px;
    }

    article {
        margin: 0 30px;
    }

    h1 {
        font-size: 30px;
        line-height: 35px;
        margin-top: 0;
    }

    section.question ul li p.feel-about {
        font: bold 30px 'Open Sans', sans-serif;
    }

    section.question ul li img.yesno {
        width: 80%;
        height: auto;
        border: none;
    }

    section#question-1 img{
        width: 100px;
    }

    section.question ul li p {
        background-color: #00aac8;
        height: 25px;
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 4px;
        margin-top: -3px;
    }

    .matchmaker-logo {
        margin: 15px 30px;
    }

    #results-wrapper {
        width: 100%;
        height: 450px;
    }

    #results-wrapper h1 {
        position: relative;
        left: 30px;
        top: 20px;
        font: normal 27px 'Open Sans Condensed', sans-serif;
    }

    #results-img {
        position: relative;
        top: 30px;
        left: 30px;
    }

    #results-text {
        float: none;
        width: 100%;
        padding: 0;
        background: none;
        margin-top: 40px;
    }

    #results-text-p {
        margin-right: 35px;
    }

    #try-again {
        font: normal 15px 'Open Sans' sans-serif;
        float: right;
        margin: -25px 20px 60px 0;
    } 

}